@tailwind components;

@layer components {
    .sibling-btn::after {
        display: flex;
        align-items: center;
        justify-content: center;
        content: 'Join Now';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .sibling-btn::before {
        display: flex;
        align-items: center;
        justify-content: center;
        content: 'Sign Up';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .sibling-btn:hover {
        background: rgba(0, 0, 0, 0.4);
        border: 2px solid white;
    }

    .sibling-btn:hover::before {
        left: 0;
        opacity: 1;
        color: white;
    }

    .sibling-btn:hover::after {
        left: 100%;
        opacity: 0;
    }
}
