/* =========================================================================================== */
/* ==================================== EditProfilePage ====================================== */
/* =========================================================================================== */

.edt-profile {
    padding-top: var(--nav-height);
    background-color: rgb(250, 250, 250);
    min-height: 100vh;
    width: 100%;
    max-width: var(--max-width);
}

.edt-profile__header {
    position: sticky;
    top: var(--nav-height);
    display: flex;
    align-items: center;
    gap: 12px;
    height: 50px;
    padding: 0 1rem;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid var(--gray-light);
    z-index: 1;
}

.edt-profile__txt {
    font-size: 0.9rem;
}

/* =========================================================================================== */
/* ===================================== EditProfileForm ===================================== */
/* =========================================================================================== */

.edt-form__header {
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid var(--gray-light);
}

.edt-form__header--wrapper {
    padding: 2rem;
}

.edt-form__header--wrapper h1 {
    font-size: 1.6rem;
    color: var(--black-light);
    margin-bottom: 0.4rem;
}

.edt-form__header--wrapper span {
    display: inline-block;
    color: var(--gray-dark);
    font-weight: 100;
    font-size: 1rem;
}

.edt-form__tablist {
    display: flex;
    position: relative;
    width: 100%;
}

.edt-form__tab {
    cursor: pointer;
    font-size: 1rem;
    color: var(--gray-dark);
    width: 125px;
    text-align: center;
    padding: 0.8rem 0;
}

.edt-form__tab:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.edt-form__tab--active {
    color: black;
}

.edt-form__divider {
    position: absolute;
    width: 85px;
    border-bottom: 4px solid var(--green-dark);
    border-radius: 8px;
    transition: left 0.4s ease-out;
    bottom: 1px;
}

.edt-form__divider--left {
    left: calc(0px + (125px - 85px) / 2);
}

.edt-form__divider--right {
    left: calc(125px + (125px - 85px) / 2);
}

/* =========================================================================================== */
/* ================================ EditAccount & EditBio ==================================== */
/* =========================================================================================== */

.edt-profile-form {
    padding: 2rem;
}

.edt-profile-form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 6px;
}

.edt-profile-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(245, 245, 245);
    border-radius: 6px;
}

.edt-profile-form__wrapper section {
    position: relative;
    width: 100%;
    margin-bottom: 2.4rem;
}

.edt-profile-form__wrapper header {
    background-color: transparent;
    margin-bottom: 1.6rem;
    padding: 0 0 0.4rem 0;
    border-bottom: 1px solid var(--gray-light);
    width: 100%;
}

.edt-profile-form__wrapper a {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    width: fit-content;
    margin: 0 auto 1rem auto;
}

.edt-profile-form__wrapper header h1 {
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(75, 75, 75);
}

.edt-profile-form__bg {
    position: relative;
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2rem;
}

.edt-profile-form__avatar {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2rem auto 1.4rem auto;
}

.edt-profile-form__avatar div {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.edt-profile-form__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}

.edt-profile-form__bg button,
.edt-profile-form__avatar button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
}

.edt-profile-form__caption {
    margin-top: 1.4rem;
}

.edt-profile-form__caption p {
    text-align: justify;
    margin-top: 1.2rem;
    font-size: 0.9rem;
    line-height: 20px;
}

.edt-profile-form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.edt-profile-form__upload+label {
    font-size: 0.9em;
    color: white;
    background-color: var(--green-dark);
    width: 145px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.edt-profile-form__upload--long+label {
    width: 190px;
}

.edt-profile-form__upload+label {
    cursor: pointer;
}

.edt-profile-form__upload:focus+label {
    outline: 2px solid var(--green-alien-dark);
    outline-offset: 2px;
}

.edt-profile-form__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.4rem 0;
}

.edt-profile-form__inputs label {
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 0.9rem;
}

.edt-profile-form__inputs label span {
    color: var(--red-error);
}

.edt-profile-form__inputs input {
    display: flex;
    flex-direction: column;
    height: 34px;
    padding: 0 0.4rem;
    margin-top: 0.4rem;
    border-radius: 4px;
    border: 1px solid var(--gray-light);
    color: black;
}

.edt-profile-form__inputs input:focus {
    outline: 2px solid var(--blue-primary);
    outline-offset: -2px;
}

.edt-profile-form__inputs textarea {
    padding: 0.4rem;
    margin-top: 0.4rem;
    border-radius: 4px;
    font-size: 1rem;
    border: 1px solid var(--gray-light);
    color: black;
    height: 200px;
    resize: none;
    text-align: justify;
}

.edt-profile-form__inputs textarea:focus {
    outline: 2px solid var(--blue-primary);
    outline-offset: -2px;
}

.edt-profile-form__inputs textarea::placeholder {
    font-size: 0.9rem;
}

.edt-profile-form__st {
    width: 100%;
    margin: 1rem 0 0 0.4rem;
}

.edt-profile-form__st label {
    font-size: 0.9rem;
}

.edt-profile-form__reminder {
    margin: 1rem auto 0 0;
    font-size: 0.9rem;
    color: rgb(130, 130, 130);
}

.edt-profile-form__reminder span {
    color: var(--red-error);
}

.edt-profile-form__inputs--link {
    flex-direction: column;
}

.edt-profile-form__inputs--link label {
    width: 100%;
    margin-bottom: 1rem;
}

.edt-profile-form__inputs--link label:last-child {
    margin-bottom: 0;
}

.edt-profile-form__inputs--link p {
    margin-bottom: 0.4rem;
}

.edt-profile-form__inputs--link input {
    height: 40px;
    width: 100%;
    margin-top: 0;
    padding-left: 45px;
}

.edt-profile-form__inputs--link input:focus~.edt-profile-form__icon-wrapper {
    border: 2px solid var(--blue-primary);
}

.edt-profile-form__icon-wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--gray-light);
}

.edt-profile-form__icon {
    margin: auto;
}

.edt-profile-form__btn-grp {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.edt-profile-form__btn--gray {
    background-color: rgb(165, 165, 165);
    color: white;
}

.edt-profile-form__btn--orange {
    background-color: rgb(219, 66, 34);
    color: white;
}

.edt-profile-form__btn--green {
    background-color: var(--green-dark);
    color: white;
}