/* =========================================================================================== */
/* ======================================= HomePage ========================================== */
/* =========================================================================================== */

.homepage {
    height: 100vh;
    min-height: var(--min-height);
    padding-top: var(--nav-height);
}