/* =========================================================================================== */
/* ======================================= HomePage ========================================== */
/* =========================================================================================== */

.homepage {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.514);
    min-height: 600px;
}