/* =========================================================================================== */
/* ======================================= HomePage ========================================== */
/* =========================================================================================== */

.homepage {
    height: 100vh;
    padding-top: 80px;
    background-color: rgba(46, 44, 44, 0.514);
}