/* =========================================================================================== */
/* ======================================= HomePage ========================================== */
/* =========================================================================================== */

.home {
    min-height: 100vh;
    padding: calc(var(--nav-height) + 2rem) 2rem 2rem 2rem;
    max-width: var(--max-width);
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.home__topbar {
    height: 80px;
    background-color: white;
    outline: 1px solid var(--gray-light);
    border-left: 25px solid var(--green-dark);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 2rem 0 1.4rem;
}

.home__topbar figure {
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
}

.home__topbar figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.home__topbar div {
    display: flex;
    align-items: center;
    background-color: rgb(240, 242, 245);
    width: 100%;
    margin-left: 15px;
    border-radius: 25px;
    outline: 1px solid var(--gray-light);
    padding: 0 1.6rem;
    height: 45px;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    color: rgb(100, 100, 100);
}

.home__topbar div p {
    color: rgb(100, 100, 100);
    font-size: 0.9rem;
}

.home__topbar div:hover {
    background-color: rgb(230, 230, 230);
}

.home__divider {
    position: relative;
    width: 100%;
    border-top: 1px solid var(--gray-light);
    color: white;
    text-align: center;
    margin: 1.4rem 0;
}

.home__divider div {
    position: absolute;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding-left: 10px;
    user-select: none;
}

.home__divider div p {
    color: gray;
    font-size: 0.9rem;
}

.home__divider div span {
    color: var(--green-dark);
    font-weight: 700;
    cursor: pointer;
    padding: 2px 4px 2px 6px;
    margin: 0 2px;
    border-radius: 8px;
    text-transform: capitalize;
}

.home__divider div span:hover {
    background-color: var(--gray-light);
}

.home__dp-menu {
    position: absolute;
    background-color: white;
    outline: 1px solid var(--gray-light);
    right: 0;
    transform: translate(0, 80%);
    list-style-type: none;
    border-radius: 6px;
    text-align: start;
    width: 110px;
    padding: 0.3rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in;
}

.home__dp-menu--active {
    opacity: 1;
    pointer-events: all;
}

.home__dp-li {
    color: var(--green-dark);
    font-size: 0.9rem;
    padding: 0.6rem;
    cursor: pointer;
    border-left: 4px solid transparent;
}

.home__dp-li:hover {
    background-color: rgb(245, 245, 245);
}

.home__dp-li--active {
    border-left: 4px solid var(--green-dark);
}