/* =========================================================================================== */
/* ====================================== ProfilePage ======================================== */
/* =========================================================================================== */

.profilepage {
    min-height: var(--min-height);
    padding-top: var(--nav-height);
    background-color: rgb(235, 235, 235);
    overflow: auto;
}

.profilepage__wrapper {
    width: 1000px;
    height: 100%;
    margin: auto;
    background-color: rgb(245, 245, 245);
    height: calc(100vh - var(--nav-height));
}

@media screen and (max-width: 1000px) {
    .profilepage__wrapper {
        width: 100%;
    }
}

/* =========================================================================================== */
/* ===================================== ProfileImage ======================================== */
/* =========================================================================================== */

.profileimage {
    position: relative;
    height: 600px;
}

.profileimage__background {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transition: clip-path 0.5s ease-in-out;
}

.profileimage__background--loaded {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* =========================================================================================== */
/* ==================================== ProfileDetails ======================================= */
/* =========================================================================================== */

.profiledetails {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), 40%, rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 0%;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: height 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.profiledetails--loaded {
    height: 100%;
}

.profiledetails-wrapper {
    position: relative;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 1s;
}

.profiledetails-wrapper--loaded {
    opacity: 1;
}

.profiledetails__figure {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    text-align: center;
    padding: 2.2rem;
}

.profiledetails__figure--loaded {
    opacity: 1;
    top: 45%;
}

.profiledetails__figure img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.profiledetails__figure figcaption {
    color: var(--green-alien-light);
    font-size: 1.8rem;
    margin: 1rem;
    letter-spacing: 2px;
    font-weight: 900;
}

.profiledetails__figure p {
    color: rgb(200, 200, 200);
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;    
}

.profiledetails__tablist {
    position: absolute;
    list-style: none;
    display: flex;
    padding: 1.6rem 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.profiledetails__tablist li {
    text-align: center;
    margin: 0.6rem 5rem;
}

.profiledetails__tablist li h1 {
    color: var(--green-alien-light);
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0.4rem;
    flex: 1;
    text-align: center;
}

.profiledetails__tablist li p {
    color: rgb(160, 160, 160);
    font-weight: 600;
    font-size: 0.8rem;
}

.profiledetails__divider {
    height: 50px;
    border-right: 1px solid rgb(184, 184, 184);
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .profiledetails__tablist {
        width: 70%;
    }

    .profiledetails__tablist li {
        margin: 0.6rem 2rem;
    }
}

@media screen and (max-width: 800px) {
    .profiledetails__tablist {
        width: 80%;
    }

    .profiledetails__tablist li {
        margin: 0.6rem 0rem;
    }

    .profiledetails__tablist li h1 {
        font-size: 1.4rem;
    }

    .profiledetails__tablist li p {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 500px) {
    .profiledetails__tablist {
        width: 90%;
    }
}

/* =========================================================================================== */
/* ===================================== ProfileIntro ======================================== */
/* =========================================================================================== */

.profileintro {
    display: flex;
    background-color: rgb(240,240,240);
    box-shadow: 0px 6px 12px 0px var(--black-opacity-light);
    border-image: linear-gradient(#abebd8, 50%, var(--green-alien-light)) 30%;
    border-right-width: 15px;
    border-right-style: solid;
}

.profileintro header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    background: linear-gradient(#abebd8, 50%, var(--green-alien-light));
    font-size: 2rem;
}

.profileintro header h1 {
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
}   

.profileintro__wrapper {
    width: 92%;
    padding: 1.4rem;
    text-align: justify;
}

.profileintro__wrapper h1 {
    font-size: 0.9rem;
    color: rgb(100, 100, 100);
    width: fit-content;
}

.profileintro__wrapper p {
    line-height: 22px;
}

.profileintro__divider {
    border-top: 2px solid var(--green-alien-light);
    margin: 0.2rem 0 0.5rem 0;
    width: 80%;
}