/* =========================================================================================== */
/* ====================================== ProfilePage ======================================== */
/* =========================================================================================== */

.profilepage {
    height: 100%;
    min-height: var(--min-height);
    padding-top: var(--nav-height);
    background-color: rgb(235, 235, 235);
}

.profilepage__wrapper {
    width: 1200px;
    margin: auto;
    background-color: rgb(245, 245, 245);
    height: 100%;
}

/* =========================================================================================== */
/* ===================================== ProfileImage ======================================== */
/* =========================================================================================== */

.profileimage {
    position: relative;
    height: 600px;
}

.profileimage__background {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(0% 0% at 0% 0%);
    transition: clip-path 0.5s ease-in-out;
}

.profileimage__background--loaded {
    clip-path: ellipse(100% 74% at 15% 23%);
}

.profileimage__icon-wrapper {
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.6s ease-in-out;
}

.profileimage__icon-wrapper--loaded {
    top: 82%;
}

.profileimage__icon {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin: 5%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.profileimage__icon--loaded {
    opacity: 1;
}

/* =========================================================================================== */
/* ==================================== ProfileDetails ======================================= */
/* =========================================================================================== */

.profiledetails {
    height: 300px;
    margin: 2.3rem auto;
    width: 80%;
}

.profiledetails header h1 {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.profiledetails__tablist {
    list-style: none;
    display: flex;
    margin: 1rem;
}

.profiledetails__tablist li {
    flex: 1;
    text-align: center;
}

.profiledetails__tablist li div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 8px;
}