/* =========================================================================================== */
/* ====================================== ProfilePage ======================================== */
/* =========================================================================================== */

.profilepage {
    min-height: var(--min-height);
    padding-top: var(--nav-height);
    background-color: rgb(235, 235, 235);
    overflow: auto;
}

.profilepage__wrapper {
    width: 1000px;
    height: 100%;
    margin: auto;
    background-color: rgb(245, 245, 245);
    height: calc(100vh - var(--nav-height));
}

@media screen and (max-width: 1000px) {
    .profilepage__wrapper {
        width: 100%;
    }
}

/* =========================================================================================== */
/* ===================================== ProfileImage ======================================== */
/* =========================================================================================== */

.profileimage {
    position: relative;
    height: 550px;
    transition: box-shadow 0.1s ease-in-out;
    transition-delay: 0.4s;
}

.profileimage--loaded {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.3);
}

.profileimage__background {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transition: clip-path 0.5s ease-in-out;
}

.profileimage__background--loaded {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* =========================================================================================== */
/* ==================================== ProfileDetails ======================================= */
/* =========================================================================================== */

.profiledetails {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), 40%, rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 0%;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: height 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.profiledetails--loaded {
    height: 100%;
}

.profiledetails__wrapper {
    position: relative;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 1s;
}

.profiledetails__wrapper--loaded {
    opacity: 1;
}

.profiledetails__figure {
    position: absolute;
    width: 100% ;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    text-align: center;
    padding: 2.2rem;

}

.profiledetails__figure--loaded {
    opacity: 1;
    top: 46%;
}

.profiledetails__figure div {
    background-color: var(--green-alien-light);
    margin: 0 auto;
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.profiledetails__figure img {
    margin: 2.5%;
    border-radius: 50%;
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.profiledetails__figure figcaption {
    color: var(--green-alien-light);
    font-size: 1.8rem;
    margin: 1.2rem;
    letter-spacing: 2px;
    font-weight: 900;
}

.profiledetails__icon {
    color: var(--green-alien-light);
    margin: 0 0.4rem;
    font-size: 1rem;
}

.profiledetails__figure p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(200, 200, 200);
    font-size: 0.9rem;
    letter-spacing: 1px; 
    margin: 0.6rem 0;   
}

.profiledetails__figure span {
    text-align: start;
    color: var(--green-alien-light);
    font-weight: 800;
    font-size: 0.8rem;
}

.profiledetails__tablist {
    position: absolute;
    list-style: none;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    width: 70%;
}

.profiledetails__tab {
    position: relative;
    text-align: center;
    padding: 2rem 0 1rem 0;
    cursor: pointer;
    flex: 1;
}

.profiledetails__tab--active {
    background: linear-gradient(rgba(0, 0, 0, 0), 50%, rgba(41, 143, 109, 0.35));
}

.profiledetails__tab h1 {
    color: rgb(160, 160, 160);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.2rem 0;
    text-align: center; 
}

.profiledetails__tab p {
    color: rgb(160, 160, 160);
    font-weight: 600;
    font-size: 0.8rem;
}

.profiledetails__underline {
    position: absolute;
    width: 60px;
    border-top: 5px solid var(--green-alien-light);
    bottom: 0px;
    transition: left 0.4s ease-out;
}

.profiledetails__underline--left {
    left: calc(33.333% / 2 - 30px);
}

.profiledetails__underline--center {
    left: calc(33.333% + (33.333% / 2) - 30px);
}

.profiledetails__underline--right {
    left: calc(66.667% + (33.333% / 2) - 30px);
}

@media screen and (max-width: 1000px) {
    .profiledetails__tablist {
        width: 80%;
    }

    .profiledetails__tab h1 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 500px) {
    .profiledetails__tablist {
        width: 100%;
    }

    .profiledetails__tab h1 {
        font-size: 0.7rem;
    }
}

/* =========================================================================================== */
/* ======================================= ProfileBio ======================================== */
/* =========================================================================================== */

.profilebio {
    display: flex;
    background-color: rgb(240,240,240);
    box-shadow: 0px 6px 12px 0px var(--black-opacity-light);
    border-image: linear-gradient(#abebd8, 50%, var(--green-alien-light)) 30%;
    border-right-width: 15px;
    border-right-style: solid;
    margin: 2rem;
}

.profilebio header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    background: linear-gradient(#abebd8, 50%, var(--green-alien-light));
    font-size: 2rem;
}

.profilebio header h1 {
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
}   

.profilebio__wrapper {
    width: 92%;
    padding: 1.4rem;
    text-align: justify;
}

.profilebio__wrapper h1 {
    font-size: 0.9rem;
    color: rgb(100, 100, 100);
    width: fit-content;
}

.profilebio__wrapper p {
    line-height: 22px;
}

.profilebio__divider {
    border-top: 2px solid var(--green-alien-light);
    margin: 0.2rem 0 0.5rem 0;
    width: 80%;
}

@media screen and (max-width: 800px) {
    .profilebio header {
        width: 60px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px) {
    .profilebio {
        border-right-width: 5px;
        font-size: 0.9rem;
    }
}