/* =========================================================================================== */
/* ====================================== ProfilePage ======================================== */
/* =========================================================================================== */

.profilepage {
    height: 100vh;
    min-height: var(--min-height);
    padding-top: var(--nav-height);
    background-color: rgb(245, 245, 245);
}

.profilepage__wrapper {
    width: 1200px;
    margin: auto;
    background-color: white;
    height: 100%;
}

/* =========================================================================================== */
/* ===================================== ProfileImage ======================================== */
/* =========================================================================================== */

.profileimage {
    position: relative;
    height: 660px;
}

.profileimage__background {
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(
        0% 0% at 0% 0%
    );
    transition: clip-path 0.5s ease-in-out;
}

.profileimage__background--loaded {
    clip-path: ellipse(
        100% 74% at 15% 23%
    );
}

.profileimage__icon-wrapper {
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 50%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.6s ease-in-out;
}

.profileimage__icon-wrapper--loaded {
    top: 66%;
}

.profileimage__icon {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin: 5%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.profileimage__icon--loaded {
    opacity: 1;
}

.profileimage__username {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    z-index: 1;
}