/* =========================================================================================== */
/* ====================================== ProfilePage ======================================== */
/* =========================================================================================== */

.profile-page {
    min-height: 100vh;
    padding-top: calc(var(--nav-height));
    max-width: var(--max-width);
    width: 100%;
    background-color: rgb(250, 250, 250);
}

/* =========================================================================================== */
/* ================================== ProfileBackground ====================================== */
/* =========================================================================================== */

.profile-bg {
    position: relative;
    height: 600px;
    transition: box-shadow 0.1s ease-in-out;
    transition-delay: 0.4s;
}


.profile-bg__bg {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* @media screen and (max-width: 500px) {
    .profilebackground__background {
        border-radius: 0;
    }
} */

/* =========================================================================================== */
/* ===================================== ProfileTabBar ======================================= */
/* =========================================================================================== */

.profile-bar {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.profile-bar__tablist {
    position: relative;
    list-style: none;
    display: flex;
    user-select: none;
}

.profile-bar__tab {
    position: relative;
    text-align: center;
    padding: 0.4rem 0;
    cursor: pointer;
    flex: 1;
}

.profile-bar__tab:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.profile-bar__tab h1 {
    color: rgb(230, 230, 230);
    font-weight: 100;
    font-size: 1rem;
    padding: 0.4rem 0;
    text-align: center;
    transition: color 0.4s linear;
}

.profile-bar__tab--active h1 {
    color: var(--green-alien-light);
    transition: color 0.4s linear;
}

.profile-bar__tab p {
    color: rgb(160, 160, 160);
    font-weight: 600;
    font-size: 0.8rem;
}

.profile-bar__underline {
    position: absolute;
    width: calc(50% / 3);
    border-bottom: 4px solid var(--green-alien-light);
    bottom: 2px;
    transition: left 0.4s ease-out;
    border-radius: 8px;
}

.profile-bar__underline--left {
    left: calc(33.333% / 2 - (50% / 3) / 2);
}

.profile-bar__underline--center {
    left: calc(33.333% + (33.333% / 2) - (50% / 3) / 2);
}

.profile-bar__underline--right {
    left: calc(66.667% + (33.333% / 2) - (50% / 3) / 2);
}

@media screen and (max-width: 1000px) {
    .profile-bar__tab h1 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 500px) {
    .profile-bar__tab h1 {
        font-size: 0.7rem;
    }
}


/* =========================================================================================== */
/* ==================================== ProfileDetails ======================================= */
/* =========================================================================================== */

.profile-dls {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), 40%, rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 0%;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: height 0.5s ease-in-out;
}

.profile-dls--loaded {
    height: 100%;
}

.profile-dls__wrapper {
    position: relative;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.profile-dls__wrapper--loaded {
    opacity: 1;
}

.profile-dls__figure {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
    opacity: 0;
    text-align: center;
    padding: 2.2rem;
}

.profile-dls__figure--loaded {
    opacity: 1;
    top: 50%;
}

.profile-dls__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(128, 128, 128, 0.6);
    cursor: pointer;
}

.profile-dls__btn--edit {
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    background-color: var(--black-opacity-light);
    transform: none;
    color: var(--green-alien-light);
}

.profile-dls__at-wrapper {
    background-color: var(--green-alien-light);
    margin: 0 auto;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.profile-dls__figure img {
    margin: 2.5%;
    border-radius: 50%;
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.profile-dls__figure figcaption {
    color: var(--green-alien-light);
    font-size: 1.4rem;
    margin: 1rem 0;
    letter-spacing: 2px;
    font-weight: 900;
}

.profile-dls__ul {
    list-style-type: none;
}

.profile-dls__ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(200, 200, 200);
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.profile-dls__icon {
    color: var(--green-alien-light);
    margin: 0 0.4rem;
    font-size: 1rem;
}

.profile-dls__btn-groups {
    position: absolute;
    height: 120px;
    width: 235px;
    left: 50%;
    top: -7%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.profile-dls__btn--tw {
    left: 6%;
    top: 75%;
}

.profile-dls__btn--ln {
    left: 23%;
    top: 36%;
}

.profile-dls__btn--yt {
    left: 50%;
    top: 21%;
}

.profile-dls__btn--fb {
    left: 77%;
    top: 36%;
}

.profile-dls__btn--ig {
    left: 94%;
    top: 75%;
}

.profile-dls__btn-disabled {
    cursor: not-allowed;
}

.profile-dls__btn-disabled:focus {
    outline: none;
}

.profile-dls__btn--tw-active:hover,
.profile-dls__btn--tw-active:focus {
    color: white;
    background-color: var(--blue-tw);
}

.profile-dls__btn--ln-active:hover,
.profile-dls__btn--ln-active:focus {
    color: white;
    background-color: var(--blue-ln);
}

.profile-dls__btn--yt-active:hover,
.profile-dls__btn--yt-active:focus {
    color: white;
    background-color: var(--red-yt);
}

.profile-dls__btn--fb-active:hover,
.profile-dls__btn--fb-active:focus {
    color: white;
    background-color: var(--blue-fb);
}

.profile-dls__btn--ig-active:hover,
.profile-dls__btn--ig-active:focus {
    color: white;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

/* =========================================================================================== */
/* ======================================= ProfileBio ======================================== */
/* =========================================================================================== */

.profile-bio {
    clip-path: inset(0 -1px -18px 0);
}

.profile-bio__wrapper {
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    border-bottom: 1px solid var(--gray-light);
}

.profile-bio__wrapper header {
    width: fit-content;
}

.profile-bio__wrapper header h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

.profile-bio__divider {
    border-top: 2px solid var(--green-dark);
    margin: 0.2rem 0 0 0;
    width: 80%;
}

.profile-bio__content {
    margin-top: 1rem;
}

.profile-bio__content p {
    font-size: 1rem;
    color: rgb(80, 80, 80);
    text-align: justify;
    line-height: 24px;
}

/* =========================================================================================== */
/* ========================= ProfileDiscussions & ProfileConnections ========================= */
/* =========================================================================================== */

.profile-soc__wrapper {
    border-left: 30px solid var(--green-dark);
    background-color: rgb(245, 245, 245);
    padding: 1.4rem;
    clip-path: inset(0 -1px -18px 0);
    box-shadow: 0px 3px 8px 0px var(--black-opacity-light);
}

.profile-soc__wrapper header {
    display: flex;
    align-items: center;
}

.profile-soc__wrapper header h1 {
    font-size: 1.2rem;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.profile-soc__wrapper header span {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(100, 100, 100);
}

.profile-soc__wrapper p {
    line-height: 22px;
}

.profile-soc__divider {
    border-top: 2px solid var(--green-dark);
    margin: 0.2rem 0 0 0;
    width: 50%;
}

.profile-soc__svg {
    border-top: 1px solid var(--gray-light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-soc__svg--end {
    justify-content: end;
}

.profile-soc__svg-header {
    position: absolute;
}

.profile-soc__svg-header h1 {
    font-size: 2.6rem;
    color: var(--green-dark);
}

.profile-soc__svg-header--discussions {
    left: 70%;
    top: 125px;
}

.profile-soc__svg-header--connections {
    left: 8%;
    top: 140px;
}

.profile-soc__txt {
    position: absolute;
}

.profile-soc__txt--discussions {
    left: 48%;
    top: 235px;
    width: 47%;
}

.profile-soc__txt--connections {
    left: 8%;
    top: 276px;
    width: 47%;
}

.profile-soc__txt p {
    font-size: 1rem;
    color: var(--green-dark);
    line-height: 25px;
    letter-spacing: 1px;
    text-align: justify;
}

.profile-soc__txt button {
    cursor: pointer;
    position: absolute;
    width: 100%;
    border: none;
    color: var(--green-dark);
    margin: 2rem 0;
    padding: 1rem 0;
    border-radius: 4px;
    background-color: var(--green-dark);
    font-size: 1rem;
    color: white;
}

.profile-soc__txt button:hover {
    opacity: 0.9;
}