/* =========================================================================================== */
/* ====================================== SplashPage ========================================= */
/* =========================================================================================== */

.splashPage {
    position: relative;
    background-image: url('@media/images/nav_background.webp');
    user-select: none;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


.splashPage__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), 35%, rgba(0, 0, 0, 0.25));
}

.splashPage__slogan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 500px;
}

.splashPage__header {
    font-size: 2.4rem;
    font-weight: bolder;
    color: white;
}

.splashPage__header--large {
    font-size: 4rem;
}

.splashPage__header--dynamic {
    margin: 0 20px;
    color: var(--alien-green-light);
    border-right: 3px solid black;
    animation: flash 0.85s step-end infinite;
}

@keyframes flash {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

.splashPage__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 60px;
    background-color: var(--alien-green-light);
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 6px;
    text-transform: uppercase;
    margin: 50px auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.splashPage__button:hover {
    background-color: var(--alien-green-deep);
}

.splashPage__button:active {
    background-color: #13684e;
}

.splashPage__icon {
    margin-left: 5px;
}

.splashPage__dynamic-txts-wrapper {
    display: flex;
    align-items: center;
    margin: 30px;
}

@media screen and (max-width: 1400px) {
    .splashPage__slogan {
        width: 80%;
        text-align: center;
    }

    .splashPage__header {
        font-size: 2rem;
    }

    .splashPage__header--large {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    .splashPage__button {
        width: 180px;
        font-size: 0.9rem;
    }

    .splashPage__header {
        font-size: 1.6rem;
    }

    .splashPage__header--large {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1000px) {
    .splashPage__button {
        width: 160px;
        font-size: 0.8rem;
    }

    .splashPage__header {
        font-size: 1.4rem;
    }

    .splashPage__header--large {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .splashPage__header {
        font-size: 1.2rem;
    }

    .splashPage__header--large {
        font-size: 1.8rem;
    }

    .splashPage__header--dynamic {
        margin: 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .splashPage__header {
        font-size: 1rem;
    }

    .splashPage__header--large {
        font-size: 1.3rem;
    }
}