/* =========================================================================================== */
/* ====================================== SplashPage ========================================= */
/* =========================================================================================== */

.splashpage {
    background-image: url('@media/images/nav_background.webp');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
}

.splashpage__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), 35%, rgba(0, 0, 0, 0.25));
    min-height: 600px;
}

.splashpage__slogan {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

.splashpage__header {
    font-size: 2.4rem;
    font-weight: bolder;
    color: white;
}

.splashpage__header--large {
    font-size: 4rem;
}

.splashpage__header--dynamic {
    margin: 0 20px;
    color: var(--alien-green-light);
    border-right: 3px solid black;
    animation: flash 0.85s step-end infinite;
}

@keyframes flash {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

.splashpage__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 60px;
    background-color: var(--alien-green-light);
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 6px;
    text-transform: uppercase;
    margin: 50px auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.splashpage__button:hover {
    background-color: var(--alien-green-deep);
}

.splashpage__button:active {
    background-color: #13684e;
}

.splashpage__icon {
    margin-left: 5px;
}

.splashpage__dynamic-txts-wrapper {
    display: flex;
    align-items: center;
    margin: 30px;
}

@media screen and (max-width: 1400px),
screen and (max-height: 800px) {
    .splashpage__header {
        font-size: 2rem;
    }

    .splashpage__header--large {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px),
screen and (max-height: 600px) {
    .splashpage__header {
        font-size: 1.6rem;
    }

    .splashpage__header--large {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 800px),
screen and (max-height: 400px) {
    .splashpage__header {
        font-size: 1.2rem;
    }

    .splashpage__header--large {
        font-size: 1.8rem;
    }

    .splashpage__button {
        font-size: 0.8rem;
        width: 145px;
        height: 55px;
    }
}

@media screen and (max-width: 600px),
screen and (max-height: 300px) {
    .splashpage__header {
        font-size: 0.9rem;
    }

    .splashpage__header--large {
        font-size: 1.3rem;
    }

    .splashpage__header--dynamic {
        margin: 0 10px;
    }
}