/* =========================================================================================== */
/* ====================================== UpdatePage ========================================= */
/* =========================================================================================== */

.updatepage {
    min-height: var(--min-height);
    padding-top: var(--nav-height);
    background-color: rgb(235, 235, 235);
    height: 100vh;
}

.updatepage__wrapper {
    width: 1000px;
    margin: auto;
    background-color: rgb(245, 245, 245);
    height: 100%;
}

/* =========================================================================================== */
/* ====================================== UpdateForm ========================================= */
/* =========================================================================================== */

.updateform {

}

.updateform__userform {

}

.updateform__userform div input {
    color: black;
}