/* =========================================================================================== */
/* ======================================== SplashNav ======================================== */
/* =========================================================================================== */

.splashnav {
    width: 1200px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 48px;
    transform: translate(-50%, 0);
}

.splashnav__nav {
    display: flex;
    align-items: center;
    height: 52px;
    min-width: 260px;
}

.splashlayout__overlay {
    position: absolute;
    overflow: hidden;
    background-color: var(--black-opacity-light);
    z-index: 1000;
    width: 100%;
    height: 100%;
    min-height: var(--min-height);
    min-width: var(--min-width);
    transition: opacity 0.3s ease-in-out;
}

.splashnav__nav header {
    display: flex;
    align-items: top;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
    flex: 1;
    gap: 22px;
    user-select: none;
}

.splashnav__wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.splashnav__button {
    cursor: pointer;
    height: 52px;
    width: 130px;
    color: white;
    user-select: none;
}

.splashnav__button--text {
    height: auto;
    width: auto;
    letter-spacing: 0.6px;
    background-color: transparent;
    border: none;
}

.splashnav__button--text:hover {
    text-decoration: underline;
}

.splashnav__button--slide {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.6px;
    border-radius: 6px;
    border: 2px solid rgb(185, 185, 185);
}

.splashnav__button--slide::after {
    content: "Register";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.splashnav__button--slide::before {
    content: "Join Us";
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.splashnav__button--slide:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
}

.splashnav__button--slide:hover::before {
    left: 0;
    opacity: 1;
    color: #fff;
}

.splashnav__button--slide:hover::after {
    left: 100%;
    opacity: 0;
}

.splashlayout__signupform {
    position: absolute;
    z-index: 3;
    padding: 4rem;
    border-radius: 20px;
    background-color: var(--black-opacity-deep);
    width: 450px;
    height: 70%;
    max-height: 700px;
    min-height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.splashlayout__loginform {
    position: absolute;
    z-index: 3;
    padding: 4rem;
    border-radius: 20px;
    background-color: var(--black-opacity-deep);
    width: 450px;
    height: 80%;
    max-height: 560px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    overflow: auto;
}

.splashlayout__header {
    color: white;
}

.splashlayout__text {
    font-size: 0.9rem;
    text-align: justify;
}

.splashlayout__text--white {
    color: white;
}

.splashlayout__text--red {
    color: var(--red-error);
}

.splashlayout__text--gray {
    color: gray;
}

.splashlayout__text--green-alien-light {
    color: var(--green-alien-light);
}

.splashlayout__text--link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.splashlayout__form-wrapper {
    display: flex;
    position: fixed;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.splashlayout__form div {
    position: relative;
    margin: 1.5rem 0;
}

.splashlayout__form div:first-child {
    margin-top: 2.6rem;
}

.splashlayout__form input {
    width: 100%;
    font-size: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.splashlayout__form input:focus {
    outline: 2px solid var(--green-alien-light);
}

.splashlayout__form label {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: 13px;
    left: 1rem;
    color: rgb(140, 140, 140);
    font-size: 1rem;
    pointer-events: none;
}

.splashlayout__form input[type='text'],
input[type='email'],
input[type='password'] {
    border-radius: 6px;
    padding: 0.8rem;
    color: white;
}

.splashlayout__form input[type='submit'] {
    background-color: var(--green-alien-light);
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-family: sans-serif;
    border-radius: 6px;
    margin-top: 1.2rem;
    height: 50px;
}

.splashlayout__form input[type='submit']:hover {
    background-color: var(--green-alien-deep);
}

.splashlayout__form input[type='submit']:focus {
    outline: 2px solid var(--green-alien-deep);
    outline-offset: -4px;
}

.splashlayout__form input[type='submit']:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.splashlayout__input:not(:placeholder-shown)+.splashlayout__placeholder {
    display: none;
}

.splashlayout__loader {
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    border-top: 4px solid var(--green-alien-light);
    width: 30px;
    height: 30px;
    top: calc(50% - 1.2rem - 12px);
    left: calc(50% - 15px);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.splashlayout__success-wrapper {
    width: 322px;
    margin-top: 2.6rem;
}

.splashlayout__success-wrapper p:first-child {
    font-weight: 600;
}

.splashlayout__success-wrapper p {
    margin: 1rem 0;
    line-height: 22px;
}

.splashlayout__success-wrapper p:last-child {
    margin-top: 2rem;
}

@media screen and (max-width: 1400px) {
    .splashnav {
        width: 80%;
    }

    .splashnav__nav header {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1000px) {
    .splashnav__nav header {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 800px) {
    .splashnav__wrapper {
        gap: 20px;
    }

    .splashnav__button {
        width: 110px;
    }
}


@media screen and (max-width: 600px) {
    .splashnav {
        width: 85%;
    }

    .splashnav__nav header {
        font-size: 1.2rem;
    }

    .splashnav__wrapper {
        font-size: 0.9rem;
    }

    .splashnav__button:first-child {
        width: 50px;
    }

    .splashnav__button {
        font-size: 0.8rem;
        width: 90px;
    }

    .splashlayout__loginform {
        width: 90%;
        padding: 3rem;
    }

    .splashlayout__signupform {
        width: 90%;
        padding: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .splashlayout__loginform {
        padding: 2.6rem 2rem;
    }

    .splashlayout__signupform {
        padding: 2.6rem 2rem;
    }

    .splashnav__nav header p {
        display: none;
    }
    
    .splashnav__logo {
        font-size: 2rem;
        margin-left: 1rem;
    }
}

/* =========================================================================================== */
/* ========================================= Nav ============================================= */
/* =========================================================================================== */

.nav {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--black-light);
    z-index: 100;
}

.nav__nav {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.nav__nav header {
    display: flex;
    font-size: 1.4rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
    gap: 22px;
    user-select: none;
    flex: 1;
}

.nav__wrapper {
    display: flex;
    align-items: center;
}

.nav__text {
    color: white;
    font-size: 0.8rem;
}

.nav__text--link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__text--button {
    letter-spacing: 0.6px;
    user-select: none;
    margin: 0 1.2rem;
}

.nav__button {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
    margin-left: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    color: var(--black-light);
    border: none;
    user-select: none;
}

.nav__button--green-alien-light {
    background-color: var(--green-alien-light);
    transition: background-color 0.2s ease-in-out;
}

.nav__button--green-alien-light:hover {
    background-color: var(--green-alien-deep);
} 

@media screen and (max-width: 1400px) {
    .nav__nav {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .nav__nav {
        padding: 0;
    }

    .nav__header {
        display: none;
    }
}