/* =========================================================================================== */
/* ========================================= Layout ========================================== */
/* =========================================================================================== */

.layout__wrapper {
    display: flex;
    justify-content: center;
}

.layout__left {
    flex: 1;
    padding-top: var(--nav-height);
    background-color: rgb(245, 245, 245);
}

.layout__right {
    flex: 1;
    background-color: rgb(245, 245, 245);
}

/* =========================================================================================== */
/* ====================================== LeftMenu =========================================== */
/* =========================================================================================== */

.lt-menu {
    position: relative;
    margin: 0 0 0 auto;
    min-width: 240px;
    width: 240px;
    height: 100%;
    /* background-image: linear-gradient(to left top, #e6f6f1, #e4f5f3, #e3f4f5, #e3f3f7, #e4f1f8, #e8f0fa, #edeffa, #f2eef8, #f9eef5, #fef0f1, #fff2ee, #fdf5ed); */
    border-left: 1px solid var(--gray-light);
    border-right: 1px solid var(--gray-light);
}

.lt-menu__wrapper {
    position: sticky;
    top: var(--nav-height);
}

.lt-menu__bg {
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lt-menu__wrapper figure {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0);
}

.lt-menu__wrapper figure div {
    border-radius: 50%;
    background: linear-gradient(to left top, #e6f6f1, #e4f5f3, #e3f4f5, #e3f3f7, #e4f1f8, #e8f0fa, #edeffa, #f2eef8, #f9eef5, #fef0f1, #fff2ee, #fdf5ed);;
    width: 85px;
    height: 85px;   
}

.lt-menu__wrapper figure div img {
    border-radius: 50%;
    width: 92%;
    height: 92%;
    margin: 4%;
    object-fit: cover;
}

.lt-menu__wrapper figure figcaption {
    text-align: center;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.lt-menu__wrapper figure figcaption button {
    padding: 0.4rem 1rem;
    background-color: var(--green-alien-light);
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.lt-menu__wrapper figure figcaption button:hover {
    background-color: var(--green-alien-deep);
}

.lt-menu__tablist {
    margin-top: 80px;
    width: 100%;
}

.lt-menu__tablist section header {
    margin: 1.2rem 0.8rem 0.4rem 0.8rem;
}

.lt-menu__tablist section header h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--gray-deep);
}

.lt-menu__tablist ul {
    list-style-type: none;
}

.lt-menu__li {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    user-select: none;
}

.lt-menu__li:hover {
    background-color: var(--gray-light);
}

.lt-menu__li--active {
    color: white;
    background-color: var(--green-dark);
}

.lt-menu__li--active:hover {
    background-color: var(--green-dark);
}

.lt-menu__divider {
    width: 100%;
    border-top: 1px solid rgb(220, 220, 220);
}

/* =========================================================================================== */
/* ====================================== RightMenu ========================================== */
/* =========================================================================================== */

.rt-menu {
    border-left: 1px solid var(--gray-light);
    height: 100%;
}

/* =========================================================================================== */
/* ========================================= Nav ============================================= */
/* =========================================================================================== */

.nav {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--black-light);
    z-index: 10000;
    box-shadow: 0px 2px 8px 0px var(--black-opacity-light);
}

.nav__nav {
    width: 1150px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.nav__nav header {
    display: flex;
    font-size: 1.4rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
    gap: 22px;
    user-select: none;
    flex: 1;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav__wrapper figure {
    display: flex;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.nav__wrapper figure:hover {
    background-color: var(--gray-opacity-light);
}

.nav__wrapper figure img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.nav__txt {
    color: white;
    font-size: 0.8rem;
}

.nav__txt--link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__txt--btn {
    letter-spacing: 0.6px;
    user-select: none;
    margin: 0 1.2rem;
}

.nav__btn {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
    margin-left: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    color: var(--black-light);
    border: none;
    user-select: none;
}

.nav__btn--green-alien-light {
    background-color: var(--green-alien-light);
    transition: background-color 0.2s ease-in-out;
}

.nav__btn--green-alien-light:hover {
    background-color: var(--green-alien-deep);
}

@media screen and (max-width: 1400px) {
    .nav__nav {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .nav__nav {
        padding: 0;
    }

    .nav__header {
        display: none;
    }
}