/* =========================================================================================== */
/* ========================================= Layout ========================================== */
/* =========================================================================================== */

.layout__wrapper {
    display: flex;
    justify-content: center;
}


/* =========================================================================================== */
/* ======================================= LeftMenu ========================================== */
/* =========================================================================================== */

.leftmenu {
    min-width: 300px;
    width: 300px;
    background-color: rgb(153, 53, 53);
}


/* =========================================================================================== */
/* ====================================== RightMenu ========================================== */
/* =========================================================================================== */

.rightmenu {
    min-width: 300px;
    width: 300px;
    background-color: rgb(41, 87, 139);
}

/* =========================================================================================== */
/* ========================================= Nav ============================================= */
/* =========================================================================================== */

.nav {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--black-light);
    z-index: 10000;
}

.nav__nav {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.nav__nav header {
    display: flex;
    font-size: 1.4rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
    gap: 22px;
    user-select: none;
    flex: 1;
}

.nav__wrapper {
    display: flex;
    align-items: center;
}

.nav__text {
    color: white;
    font-size: 0.8rem;
}

.nav__text--link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__text--button {
    letter-spacing: 0.6px;
    user-select: none;
    margin: 0 1.2rem;
}

.nav__button {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
    margin-left: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    color: var(--black-light);
    border: none;
    user-select: none;
}

.nav__button--green-alien-light {
    background-color: var(--green-alien-light);
    transition: background-color 0.2s ease-in-out;
}

.nav__button--green-alien-light:hover {
    background-color: var(--green-alien-deep);
} 

@media screen and (max-width: 1400px) {
    .nav__nav {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .nav__nav {
        padding: 0;
    }

    .nav__header {
        display: none;
    }
}