/* =========================================================================================== */
/* ========================================= Layout ========================================== */
/* =========================================================================================== */

.layout__wrapper {
    display: flex;
    justify-content: center;
}

/* =========================================================================================== */
/* ====================================== LeftMenu =========================================== */
/* =========================================================================================== */

.leftmenu {
    flex: 1;
    padding-top: var(--nav-height);
    background-color: rgb(245, 245, 245);
}

.leftmenu__wrapper {
    position: relative;
    margin: 2rem 2rem 2rem auto;
    min-width: 240px;
    width: 240px;
    height: 600px;
    border-radius: 16px;
    background-image: linear-gradient(to left top, #e6f6f1, #e4f5f3, #e3f4f5, #e3f3f7, #e4f1f8, #e8f0fa, #edeffa, #f2eef8, #f9eef5, #fef0f1, #fff2ee, #fdf5ed);
    outline: 1px solid rgb(220, 220, 220);
}

.leftmenu__background {
    height: 100px;
    border-radius: 16px 16px 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.leftmenu__wrapper figure {
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    border-radius: 50%;
    background-color: var(--green-alien-light);
    width: 90px;
    height: 90px;
}

.leftmenu__wrapper figure img {
    border-radius: 50%;
    width: 96%;
    height: 96%;
    margin: 2%;
    object-fit: contain;
}

.leftmenu__wrapper figure figcaption {
    color: var(--green-alien-deep);
    text-align: center;
    margin: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.leftmenu__tablist {
    position: absolute;
    top: 33%;
    width: 100%;
}

.leftmenu__tablist section header {
    margin: 1.2rem 0.8rem 0.4rem 0.8rem;
}

.leftmenu__tablist section header h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--gray-deep);
}

.leftmenu__tablist ul {
    list-style-type: none;
}

.leftmenu__tablist section li {
    font-size: 0.9rem;
    padding: 0.8rem 0.8rem 0 0.8rem;
    cursor: pointer;
    user-select: none;
}

.leftmenu__divider {
    width: 100%;
    border-top: 1px solid rgb(220, 220, 220);
}

/* =========================================================================================== */
/* ====================================== RightMenu ========================================== */
/* =========================================================================================== */

.rightmenu {
    flex: 1;
    background-color: rgb(245, 245, 245);
}

/* =========================================================================================== */
/* ========================================= Nav ============================================= */
/* =========================================================================================== */

.nav {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--black-light);
    z-index: 10000;
}

.nav__nav {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.nav__nav header {
    display: flex;
    font-size: 1.4rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
    gap: 22px;
    user-select: none;
    flex: 1;
}

.nav__wrapper {
    display: flex;
    align-items: center;
}

.nav__text {
    color: white;
    font-size: 0.8rem;
}

.nav__text--link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__text--button {
    letter-spacing: 0.6px;
    user-select: none;
    margin: 0 1.2rem;
}

.nav__button {
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
    margin-left: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    color: var(--black-light);
    border: none;
    user-select: none;
}

.nav__button--green-alien-light {
    background-color: var(--green-alien-light);
    transition: background-color 0.2s ease-in-out;
}

.nav__button--green-alien-light:hover {
    background-color: var(--green-alien-deep);
}

@media screen and (max-width: 1400px) {
    .nav__nav {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .nav__nav {
        padding: 0;
    }

    .nav__header {
        display: none;
    }
}