/* =========================================================================================== */
/* ===================================== SplashLayout ======================================== */
/* =========================================================================================== */

.splashlayout__nav {
    width: 1200px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 48px;
    transform: translate(-50%, 0);
}

.splashlayout__container {
    display: flex;
    align-items: center;
    height: 52px;
}

.splashlayout__logo-wrapper {
    display: flex;
    align-items: top;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
    flex: 1;
    gap: 22px;
    user-select: none;
}

.splashlayout__action-wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.splashlayout__button {
    cursor: pointer;
    height: 52px;
    width: 130px;
    color: white;
    user-select: none;
}

.splashlayout__button--text {
    height: auto;
    width: auto;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.splashlayout__button--text:hover {
    text-decoration: underline;
}

.splashlayout__button--slide {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.6px;
    border-radius: 6px;
    border: 2px solid rgb(185, 185, 185);
}

.splashlayout__button--slide::after {
    content: "Register";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.splashlayout__button--slide::before {
    content: "Join Us";
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.splashlayout__button--slide:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
}

.splashlayout__button--slide:hover::before {
    left: 0;
    opacity: 1;
    color: #fff;
}

.splashlayout__button--slide:hover::after {
    left: 100%;
    opacity: 0;
}

@media screen and (max-width: 1400px) {
    .splashlayout__nav {
        width: 80%;
    }

    .splashlayout__logo-wrapper {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1000px) {
    .splashlayout__logo-wrapper {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 600px) {
    .splashlayout__logo-wrapper {
        font-size: 1.4rem;
    }

    .splashlayout__action-wrapper {
        gap: 10px;
    }

    .splashlayout__button {
        width: 80px;
        font-size: 0.6rem;
    }
}
/* =========================================================================================== */
/* ======================================== Layout =========================================== */
/* =========================================================================================== */

.layout__nav {
    background-color: black;
    position: fixed;
    width: 100%;
}

.layout__container {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    height: 80px;
}

.layout__overlay {
    position: absolute;
    overflow: hidden;
    background-color: var(--black-opacity-light);
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.layout__signupform {
    position: absolute;
    z-index: 3;
    padding: 4rem;
    border-radius: 20px;
    background-color: var(--black-opacity-deep);
    width: 450px;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout__loginform {
    position: absolute;
    z-index: 3;
    padding: 4rem;
    border-radius: 20px;
    background-color: var(--black-opacity-deep);
    width: 450px;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    overflow: auto;
}

.layout__header {
    color: white;
}

.layout__text {
    font-size: 0.9rem;
    text-align: justify;
}

.layout__text--white {
    color: white;
}

.layout__text--red {
    color: var(--error-red);
}

.layout__text--gray {
    color: gray;
}

.layout__text--alien-green-light {
    color: var(--alien-green-light);
}

.layout__text--link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.layout__form-wrapper {
    display: flex;
    position: fixed;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.layout__form div {
    position: relative;
    margin: 1.5rem 0;
}

.layout__form div:first-child {
    margin-top: 2.6rem;
}

.layout__form input {
    width: 100%;
    font-size: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.layout__form input:focus {
    outline: 2px solid var(--alien-green-light);
}

.layout__form span {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: 13px;
    left: 1rem;
    color: rgb(140, 140, 140);
    font-size: 1rem;
    pointer-events: none;
}

.layout__form input[type='text'],
input[type='email'],
input[type='password'] {
    border-radius: 6px;
    padding: 0.8rem;
    color: white;
}

.layout__form input[type='submit'] {
    background-color: var(--alien-green-light);
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-family: sans-serif;
    border-radius: 6px;
    margin-top: 1.2rem;
    height: 50px;
}

.layout__form input[type='submit']:hover {
    background-color: var(--alien-green-deep);
}

.layout__form input[type='submit']:focus {
    outline: 2px solid var(--alien-green-deep);
    outline-offset: -4px;
}

.layout__form input[type='submit']:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.layout__input:not(:placeholder-shown)+.layout__placeholder {
    display: none;
}

.layout__loader {
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    border-top: 4px solid var(--alien-green-light);
    width: 30px;
    height: 30px;
    top: calc(50% - 1.2rem - 12px);
    left: calc(50% - 15px);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.layout__success-wrapper {
    width: 322px;
    margin-top: 2.6rem;
}

.layout__success-wrapper p:first-child {
    font-weight: 600;
}

.layout__success-wrapper p {
    margin: 1rem 0;
    line-height: 22px;
}

.layout__success-wrapper p:last-child {
    margin-top: 2rem;
}

@media screen and (max-width: 600px) {
    .layout__loginform {
        width: 80%;
        padding: 3rem;
    }

    .layout__signupform {
        width: 80%;
        padding: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .layout__loginform {
        width: 85%;
        padding: 2.6rem 2rem;
    }

    .layout__signupform {
        width: 85%;
        padding: 2.6rem 2rem;
    }
}
