/* =========================================================================================== */
/* ======================================== SplashNav ======================================== */
/* =========================================================================================== */

.splashnav {
    width: 1200px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 48px;
    transform: translate(-50%, 0);
}

.splashnav__nav {
    display: flex;
    align-items: center;
    height: 52px;
    min-width: 260px;
}

.splashnav__nav header {
    display: flex;
    align-items: top;
    flex: 1;
    gap: 22px;
    user-select: none;
}

.splashnav__nav header h1,
.splashnav__logo {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    font-style: italic;
}

.splashnav__wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.splashnav__wrapper figure {
    display: flex;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.splashnav__wrapper figure:hover {
    background-color: var(--gray-opacity-light);
}

.splashnav__wrapper figure img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.splashnav__button {
    cursor: pointer;
    height: 52px;
    width: 130px;
    font-size: 1rem;
    color: white;
    user-select: none;
}

.splashnav__button--text {
    height: auto;
    width: auto;
    letter-spacing: 0.6px;
    background-color: transparent;
    border: none;
}

.splashnav__button--text:hover {
    text-decoration: underline;
}

.splashnav__button--slide {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    letter-spacing: 0.6px;
    border-radius: 6px;
    border: 2px solid rgb(185, 185, 185);
}

.splashnav__button--slide::after {
    content: "Register";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.splashnav__button--slide::before {
    content: "Join Us";
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.splashnav__button--slide:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
}

.splashnav__button--slide:hover::before {
    left: 0;
    opacity: 1;
    color: #fff;
}

.splashnav__button--slide:hover::after {
    left: 100%;
    opacity: 0;
}

@media screen and (max-width: 1400px) {
    .splashnav {
        width: 80%;
    }

    .splashnav__nav header {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1000px) {
    .splashnav__nav header {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 800px) {
    .splashnav__wrapper {
        gap: 20px;
    }

    .splashnav__button {
        width: 110px;
    }
}


@media screen and (max-width: 600px) {
    .splashnav {
        width: 85%;
    }

    .splashnav__nav header h1 {
        font-size: 1.6rem;
    }

    .splashnav__logo {
        font-size: 1.6rem;
    }

    .splashnav__wrapper {
        font-size: 0.9rem;
    }

    .splashnav__button:first-child {
        width: 50px;
    }

    .splashnav__button {
        font-size: 0.8rem;
        width: 90px;
    }
}

@media screen and (max-width: 500px) {
    .splashnav__nav header h1 {
        display: none;
    }

    .splashnav__logo {
        margin-left: 1.4rem;
    }
}

/* =========================================================================================== */
/* ===================================== SignUpOptions ======================================= */
/* =========================================================================================== */

.signupoptions {
    position: absolute;
    left: 100%;
    width: 100%;
    padding: 0 2rem;
    transition: left 0.5s ease-out, opacity 0.5s ease-out;
}

.signupoptions__wrapper {
    margin: 1.6rem 0;
}

.signupoptions__button {
    position: relative;
    display: flex;
    width: 100%;
    border: none;
    cursor: pointer;
    height: 45px;
    font-size: 0.8rem;
    color: white;
    margin: 1.2rem 0;
    border-radius: 4px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.signupoptions__button:focus {
    outline: var(--green-alien-focus);
    outline-offset: 2px;
}

.signupoptions__button--transparent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid var(--gray-light);
    color: var(--gray-light);
    border-radius: 6px;
}

.signupoptions__button--transparent:hover {
    background-color: rgba(120, 120, 120, 0.2);
}

.signupoptions__button--google {
    background-color: rgb(53, 115, 216);
}

.signupoptions__button--twitter {
    background-color: rgb(5, 132, 206);
}

.signupoptions__button--linkedin {
    background-color: rgb(60, 90, 154);
}

.signupoptions__button div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translate(0, -50%);
    background-color: white;
    height: 26px;
    width: 26px;
    left: 9.5px;
    border-radius: 4px;
}

.signupoptions__icon {
    height: 20px;
    width: 20px;
}

.signupoptions__icon--twitter {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 9.5px;
    top: 50%;
    transform: translate(0, -50%);
}

.signupoptions__icon--linkedin {
    color: rgb(60, 90, 154);
}

.signupoptions__divider {
    position: relative;
    width: 100%;
    border-top: 1px solid var(--gray-deep);
    color: white;
    text-align: center;
}

.signupoptions__divider p {
    background-color: black;
    color: var(--gray-deep);
    position: absolute;
    top: -10px; 
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
}

/* =========================================================================================== */
/* ================================= LoginForm & SignUpForm ================================== */
/* =========================================================================================== */

.authform__overlay {
    display: none;
    animation: fadein 0.4s;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--black-opacity-light);
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.authform__overlay--fade {
    animation: fadeout 0.4s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.authform {
    position: absolute;
    z-index: 3;
    padding: 3rem 2rem;
    width: 360px;
    border-radius: 20px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: var(--min-width);
}

.authform--signup {
    height: 70%;
    overflow-x: hidden;
    max-height: 550px;
}

.authform--login {
    height: 70%;
    max-height: 520px;
    overflow-x: auto;
}

.authform__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: var(--gray-deep);
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 18px;
    height: 18px;
    top: -50px;
}

.authform__button:focus {
    outline: var(--green-alien-focus);
}

.authform__button--cross {
    right: 2rem;
    font-size: 1.1rem;  
    border-radius: 50%;
}

.authform__button--leftarrow {
    left: 95px;
    top: -19px;
    font-size: 1.1rem;  
}

.authform__button--cross:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.authform__button--leftarrow:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.authform__icon-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.8rem 0;
}

.authform__icon-group button {
    display: flex;
    background-color: var(--gray-deep);
    align-items: center;
    justify-content: center;
    margin: 0 0.4rem;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
}

.authform__icon-group button:hover {
    background-color: white;
}

.authform__icon-group button:nth-child(2):hover {
    background-color: rgb(5, 132, 206);
}

.authform__icon-group button:nth-child(2):hover .authform__icon--twitter {
    color: white;
}

.authform__icon-group button:last-child:hover {
    background-color: rgb(60, 90, 154);
}

.authform__icon-group button:last-child:hover .authform__icon--linkedin {
    color: white;
}

.authform__icon-group button:focus {
    outline: var(--green-alien-focus);
    outline-offset: 2px;
    background-color: white;
}

.authform__icon-group button:nth-child(2):focus {
    background-color: rgb(5, 132, 206);
}

.authform__icon-group button:last-child:focus {
    background-color: rgb(60, 90, 154);
}

.authform__icon-group button:focus .authform__icon--twitter {
    color: white;
}

.authform__icon-group button:focus .authform__icon--linkedin {
    color: white;
}

.authform__icon {
    height: 24px;
    width: 24px;
    color: var(--black-light);
}

.authform__icon--linkedin {
    height: 22px;
    width: 22px;
}

.authform header h1 {
    font-size: 1.4rem;
    color: white;
}

.authform__wrapper {
    display: flex;
}

.authform__wrapper form {
    position: absolute;
    width: calc(100% - 4rem);
    transition: left 0.5s ease-out;
}

.authform__form div {
    position: relative;
    margin: 1.2rem 0;
}

.authform__form div:first-child {
    margin-top: 2rem;
}

.authform__form input {
    width: 100%;
    font-size: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.authform__form input:focus {
    outline: 2px solid var(--green-alien-light);
}

.authform__form label {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: 10px;
    left: 1rem;
    color: rgb(140, 140, 140);
    font-size: 1rem;
    pointer-events: none;
}

.authform__form input[type='text'],
input[type='email'],
input[type='password'] {
    border-radius: 6px;
    padding: 0.6rem 0.8rem;
    color: white;
}

.authform__form input[type='submit'] {
    background-color: var(--green-alien-light);
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-family: sans-serif;
    border-radius: 6px;
    margin-top: 0.6rem;
    height: 45px;
}

.authform__form input[type='submit']:hover {
    background-color: var(--green-alien-deep);
}

.authform__form input[type='submit']:focus {
    outline: var(--green-alien-focus);
    outline-offset: 1px;
}

.authform__form input[type='submit']:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.authform__input:not(:placeholder-shown)+.authform__placeholder {
    display: none;
}

.authform__text {
    font-size: 0.9rem;
    text-align: justify;
}

.authform__text--white {
    color: white;
}

.authform__text--red {
    color: var(--red-error);
}

.authform__text--gray {
    color: gray;
}

.authform__text--green-alien-light {
    color: var(--green-alien-light);
}

.authform__text--link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.authform__text--link:focus {
    outline: var(--green-alien-focus);
}

.authform__loader {
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    border-top: 4px solid var(--green-alien-light);
    width: 30px;
    height: 30px;
    top: calc(50% - 1.2rem - 12px);
    left: calc(50% - 15px);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    .authform {
        width: 90%;
    }

    .authform header h1 {
        font-size: 1.2rem;
    }

    .authform__button--transparent {
        top: -47px;
        right: 2.01rem;
    }
}

@media screen and (max-width: 350px) {
    .authform {
        width: 100%;
        border-radius: 0;
    }

}

/* =========================================================================================== */
/* ===================================== SignUpSuccess ======================================= */
/* =========================================================================================== */

.signupsuccess {
    position: absolute;
    left: 100%;
    width: 100%;
    padding: 0 2rem;
    transition: left 0.5s ease-out;
}

.signupsuccess p:first-child {
    font-weight: 600;
}

.signupsuccess p {
    margin: 1rem 0;
    line-height: 22px;
}

.signupsuccess p:last-child {
    margin-top: 2rem;
}