* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

:root {
    --black-opacity-light: rgba(0, 0, 0, 0.4);
    --black-opacity-moderate: rgba(0, 0, 0, 0.7);
    --black-opacity-deep: rgba(0, 0, 0, 0.85);
    --black-light: #202020;
    --green-alien-deep: #23ac83;
    --green-alien-light: #00DE9A;
    --gray-deep: rgb(138, 138, 138);
    --gray-light: rgb(201, 201, 201);
    --red-error: #cc0000;
    --nav-height: 60px;
    --min-height: 500px;
    --min-width: 300px;
    --green-alien-focus: 2px solid #23ac83
}

