* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

input[type='submit']:focus {
    outline: var(--green-alien-focus);
    outline-offset: 2px;
}

button:focus {
    outline: var(--green-alien-focus);
    outline-offset: 2px;
}

a:focus {
    outline: var(--green-alien-focus);
    outline-offset: 2px;
}

:root {
    --black-opacity-light: rgba(0, 0, 0, 0.4);
    --black-opacity-moderate: rgba(0, 0, 0, 0.7);
    --black-opacity-dark: rgba(0, 0, 0, 0.85);
    --black-light: #202020;
    --green-alien-dark: #23ac83;
    --green-alien-light: #00DE9A;
    --green-dark: rgb(19, 81, 94);
    --gray-dark: rgb(138, 138, 138);
    --gray-light: rgb(200, 200, 200);
    --gray-opacity-light: rgba(200, 200, 200, 0.3);
    --red-error: #cc0000;
    --blue-primary: #2684FF;
    --nav-height: 60px;
    --min-height: 500px;
    --min-width: 300px;
    --max-width: 800px;
    --green-alien-focus: 2px solid #23ac83;
    --blue-ln: rgb(60, 90, 154);;
    --blue-tw: rgb(5, 132, 206);
    --blue-goog: rgb(53, 115, 216);
    --blue-fb: #1778F2;
    --red-yt: #FF0000;
}