* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

:root {
    --black-opacity-light: rgba(0, 0, 0, 0.4);
    --black-opacity-deep: rgba(0, 0, 0, 0.85);
    --alien-green-deep: #23ac83;
    --alien-green-light: #00DE9A;
    --error-red: #cc0000;
  }